body{
    background-color: rgb(66, 255, 223);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-family: 'Segoe Script', Helvetica, Arial, sans-serif;
    color: rgb(4, 82, 52);
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(8, 137, 88);
    font-size: 1.8em;
}

.text-properties{
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial;
}

.darkgreen-text {
    color: rgb(51, 98, 47);
}

hr {
    border: 2px solid rgb(46, 159, 125); /*Neste caso, modifica a linha*/
    border-radius: 5px; /*Define o arredondamento existente na borda*/
    width: 50%;
}

.button{
    display: inline-block;
    background-color: rgb(123, 201, 123);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .button:hover{
    color: rgb(123, 201, 123);
    background-color: white;
    text-decoration: underline;
 }
 
 #no-buttom-margin{
    margin-top: 0px;
 }

#sobre-mim {
    font-size: 1.8em;
    margin: 12px 0px 0px 0px;
}

#line-height {
    line-height: 1.5px;
}

.container {
    display: flex; /*Esta propriedade define o container como um flexbox. Isso permite que você alinhe e distribua seus itens filhos de maneira mais fácil e controlada.*/
    justify-content: center; /*deixou o conteudo no centro da tela, como uma coluna*/
    background-color: rgba(110, 255, 163, 0.725); /**/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: stretch;
    min-height: 100vh;
}

.content { /*Faz com que o conteúdo dentro fique igual uma página normal, sei lá como explicar*/
    width: 80%; /*não sei como explicar, mas quando dá zoom na página, o tamanho dessa coluna não ultrapassará o tamanho de 80% da tela*/
    max-width: 800px; /*Define o quão grande vai ser essa coluna na qual o conteúdo estará*/
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(226, 255, 236); /*Cor que vai ter essa coluna*/
    text-align: left; /*Alinhamento de texto*/
}

.ico-properties {
    max-width: 32px;
    max-height: 32px;
}

#social-media {
    text-align: center;

}

.personal-data{
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.text-section {
    display: flex;
    flex-direction: column; /*Alinha os textos em uma coluna*/
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-properties {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
}

#profile-picture {
    width: 200px;
    height: 200px;
    float: right;
    border-radius: 50%;
    object-fit: cover;
}