body{
    background-color: rgb(95, 184, 155);
    font-family:

}

h1 {
    font-family: 'Segoe Script', Helvetica, Arial, sans-serif;
    color: blue;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 1.8em;
}

.text-properties{
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial;
}

.white-text {
    color: white;
}

hr {
    border: 2px solid red; /*Neste caso, modifica a linha*/
    border-radius: 5px; /*Define o arredondamento existente na borda*/
    width: 50%;
}

.button{
    display: inline-block;
    background-color: lightgreen;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
 .button:hover{
    color: lightgreen;
    background-color: white;
    text-decoration: underline;
 }

#sobre-mim {
    font-size: 1.8em;
    margin: 12px 0px 0px 0px;
}

#line-height {
    line-height: 3;
}
